* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

/* ::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb {
    background-color: #33415a;
}

::-webkit-scrollbar-track {
    background-color: #1b2133;
} */

/* navigation */

.aside-navigation {
    position: fixed;
    width: 20%;
    min-width: 300px;
    height: 100%;
    background-color: #33415A;
    z-index: 99999;
    transform: translateX(-100%);
    transition: all 900ms;
}

.overlow {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 9999;
}

.overlow.active {
    display: block;
}

body.active {
    overflow: hidden;
}

.aside-navigation.active {
    transform: translateX(0);
}

.navigation {
    width: 100%;
    height: auto;
    background-color: rgb(28, 34, 51);
}

.nav-higher {
    width: 100%;
    height: 100px;
    display: flex;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.navigation-items {
    display: flex;
    align-items: center;
    gap: 30px;
}

.search {
    position: relative;
}

.search-box {
    width: 350px;
    padding: 8px 40px 8px 12px;
    border: 0;
    border-radius: 10px;
    font-size: 1rem;
    background-color: #33415A;
    color: white;
}

.search-box::placeholder {
    color: #00FCF8;
}

.search-btn {
    width: 25px;
    height: 25px;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(-10px, -50%);
    border: 0;
    background-color: transparent;
    cursor: pointer;
}

.search-btn img {
    width: 20px;
}

.search-box:focus {
    outline: none;
}

.navigation-items-links {
    display: flex;
    gap: 10px;
}

.navigation-items-links img {
    width: 40px;
}

.hamburguer {
    transition: all 900ms;
    cursor: pointer;
}

/* .hamburguer.active {
    transform: translateX(120px);
}

.hamburguer.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburguer.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.hamburguer.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
} */

.bar {
    display: block;
    width: 28px;
    height: 3px;
    border-radius: 3px;
    margin: 5px auto;
    background-color: #00FCF8;
    transition: all 0.3s ease-in-out;
}

.nav-bottom {
    width: 100%;
    height: 50px;
    background-color: #222A40;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-ul-items {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-ul-items li {
    width: auto;
    height: 100%;
    padding: 10px 20px;
    transition: ease-in-out .3s;
}

.nav-ul-items li:hover {
    background-color: rgba(51, 65, 90, 0.4);
}

.nav-ul-items li a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    color: #00FCF8;
}

/* header */

.header-index {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #222A40;
}

.carousel-container {
    width: 100%;
    height: auto;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: flex-start;
}

.carousel-slide {
    display: flex;
    width: 400%;
    height: 100%;
    flex-shrink: 0;
    transition: all 900ms;
}

.banner-slide {
    flex-basis: 20%;
    width: 20%;
    flex-shrink: 0;
    flex: 1;
}

.carousel-slide .banner-slide img {
    width: 100%;
}

/* .carousel-slide-buttons {
    position: absolute;
    z-index: 10;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
} */

#prevBtn,
#nextBtn {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.0);
    border: 0;
    padding: 5px;
    position: absolute;
    z-index: 10;
    top: 50%;
    transform: translate(0%, -50%);
    height: 100%;
    width: 100px;
}

#prevBtn img,
#nextBtn img {
    width: 25px;
}

/* #prevBtn:hover,
#nextBtn:hover {
    background-color: rgba(0, 0, 0, 0.2);
} */

#prevBtn {
    left: 0;
}

#nextBtn {
    right: 0;
}

/* main index */

.main-index {
    width: 100%;
    height: 1000px;
    background-color: #222A40;
    display: flex;
    justify-content: center;
    padding: 100px 0;
}

/* .card {
    width: 268px;
    height: 436px;
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
} */
